<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section class="split" style="width:100%; border-right:none;">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{ site.email }}">{{ site.email }}</a>
				</div>
			</section>
			{% if site.phone %}
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
				</div>
			</section>
			{% endif %}
			<section>
				<div class="contact-method">
					<span class="icon alt fa-comments"></span>
					<h3>Social Media</h3>
					<div style="display:flex; flex-flow:row wrap; justify-content:center;">
						{% if site.twitter_username %}
						<div style="margin:1em; min-width: 100px;">
							<span class="icon alt fa-twitter" style="top:auto; left:auto; position:unset; margin:0.5em;"></span>
							<a href="https://gitlab.com/{{ site.twitter_username }}" target="_blank">{{ site.twitter_username }}</a>
						</div>
						{% endif %}
						{% if site.instagram_username %}
						<div style="margin:1em; min-width: 100px;">
							<span class="icon alt fa-instagram" style="top:auto; left:auto; position:unset; margin:0.5em;"></span>
							<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">{{ site.instagram_username }}</a>
						</div>
						{% endif %}
						{% if site.facebook_username %}
						<div style="margin:1em; min-width: 100px;">
							<span class="icon alt fa-facebook" style="top:auto; left:auto; position:unset; margin:0.5em;"></span>
							<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">{{ site.facebook_username }}</a>
						</div>
						{% endif %}
						{% if site.twitch_username %}
						<div style="margin:1em; min-width: 100px;">
							<span class="icon alt fa-twitch" style="top:auto; left:auto; position:unset; margin:0.5em;"></span>
							<a href="https://twitch.com/{{ site.twitch_username }}" target="_blank">{{ site.twitch_username }}</a>
						</div>
						{% endif %}
						{% if site.gitlab_username %}
						<div style="margin:1em; min-width: 100px;">
							<span class="icon alt fa-gitlab" style="top:auto; left:auto; position:unset; margin:0.5em;"></span>
							<a href="https://gitlab.com/{{ site.gitlab_username }}" target="_blank">{{ site.gitlab_username }}</a>
						</div>
						{% endif %}
					</div>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Location</h3>
					<div style="display:flex; flex-flow:row wrap;">
						<div style="margin:1em; min-width: 100px;">
							<span>
								<b>Address:</b><br />
							{% if site.street_address %}
								{{ site.street_address }}<br />
							{% endif %}
							{% if site.city %}
								{{ site.city }},
							{% endif %}
							{% if site.state %}
								{{ site.state }}
							{% endif %}
							{% if site.zip_code %}
								{{ site.zip_code }}<br />
							{% endif %}
							{% if site.country %}
								{{ site.country }}
							{% endif %}
							</span>
						</div>
						<div style="margin:1em; min-width: 100px;">
							<span>
							{% if site.building %}
								<b>Building:</b> {{ site.building }}<br />
							{% endif %}
							{% if site.map_url %}
								<a href="{{ site.map_url }}" target="_blank">UCCS Campus Map</a><br />
							{% endif %}
							{% if site.wing %}
								<b>Wing:</b> {{ site.wing }}
							{% endif %}
							{% if site.room %}
								<b>Room:</b> {{ site.room }}
							{% endif %}<br />
							{% if site.floorplan_map_url %}
								<a href="{{ site.floorplan_map_url }}" target="_blank">OCSE Floorplan Map</a>
							{% endif %}
							</span>
						</div>
						<div style="margin:1em; min-width: 100px;">
							<span>
								<b>Formal Meetings</b><br />
							{% if site.official_meeting_day %}
								{{ site.official_meeting_day }}s
							{% endif %}
							{% if site.official_meeting_start_time %}
								from {{ site.official_meeting_start_time }}
							{% endif %}
							{% if site.official_meeting_end_time %}
								until {{ site.official_meeting_end_time }}
							{% endif %}<br />
							</span>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="copyright">
				<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
				<li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
				<li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>

			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
